<div class="container-fluid">
	<div class="row well well-lg">
		<div class="col-md-6 col-md-offset-4">
			<p class="lead text-left ">Do you ever find yourself <mark>overwhelmed</mark>?<br/>Too much to do and not enough time?<br/> No matter how hard you try, you can never catch up?<br/> Most life coaches and self-help "experts" will try to teach you tips and tricks to help you juggle all of the demands on your time.<br/>But we think there's a better way!<br/>Instead of managing your time, we believe you should <mark>manage your care</mark>.<br/>Using the Care Points method helps you see clearly how much you care about the things in your life and to identify where you should adjust your care, or even not care at all.<br/>Curious about what you should care?
			</p>
		</div>
	</div>
	<div class="row text-center">
		<%= link_to 'Show me some Cares', pages_examples_path, class: 'btn btn-info btn-md' %>
	</div>
</div>