<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<td>Drinking</td>
					<td>40 Care Points</td>
				</tr>
				<tr>
					<td>Sitting in traffic</td>
					<td>100 Care Points</td>
				</tr>
				<tr>
					<td>Entertaining house guests</td>
					<td>80 Care Points</td>
				</tr>
				<tr>
					<td>Doing homework</td>
					<td>70 Care Points</td>
				</tr>
				<tr>
					<td>Cleaning bathroom</td>
					<td>40 Care Points</td>
				</tr>
				<tr>
					<td>Mashing potatoes</td>
					<td>10 Care Points</td>
				</tr>
				<tr>
					<td>Working out</td>
					<td>60 Care Points</td>
				</tr>
				<tr>
					<td>Learning a new instrument</td>
					<td>5 Care Points</td>
				</tr>
				<tr>
					<td>Javascript</td>
					<td>15 Care Points</td>
				</tr>
				<tr>
					<td>Weddings</td>
					<td>85 Care Points</td>
				</tr>
				<tr>
					<td>Moving to a new city</td>
					<td>95 Care Points</td>
				</tr>
				<tr>
					<td>Presentations</td>
					<td>55 Care Points</td>
				</tr>
			</table>
			<div class="row text-center">
				<%= link_to "Why not sign up?", new_user_path, class: 'btn btn-info btn-md' %>
			</div>
		</div>
	</div>
</div>