<div class="container theme-showcase" role="main">
  <!-- Main jumbotron-->
  <div class="jumbotron">
	  <h1>Welcome to Care Points!</h1>
	  <p>See what you really care about using our patented point system. We believe that your life will be deeply enriched by focusing on what you care about. Use our care point system to track your cares every day. There's no good reason not to start using them now.</p>
    <a class="btn btn-primary btn-lg" role="button" <%= link_to 'Sign up »', new_user_path %>
   	</a>
  </div>
</div>

		