<div class="container theme-showcase" role="main">
  <!-- Main jumbotron-->
  <div class="jumbotron">
	  <h1>Welcome to Care Points!</h1>
	  <p>A brief description of what care points are and how awesome you would be if you used them would go here. In all likelihood, your life will be deeply enriched by care points. There's no good reason not to start using them now.</p>
    <a class="btn btn-primary btn-lg" role="button" <%= link_to 'Sign up »', new_user_path %>
   	</a>
  </div>
</div>

