<div class="container-fluid">
	<div class="col-lg-12">
		<h1 class="text-center">How to get started:
		<h1>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-3">
				<ol class="lead">
					<li>Enter some cares and values...at least 1000 points to start.
					</li>
					<li>Check your daily care allowance to see how much you can care each day.
					</li>
					<li>Before you care about something, see whether you have enough points.
					</li>
					<li>Click the 'care about this' button and watch your daily total decrease.
					</li>
					<li>You can only care about things for which you have enough points.
					</li>
					<li>You can add to your care list at any time. 
					</li>
					<li>Your daily points are recycled each day.
					</li>
					<li>Care metrics coming soon! 
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>